<a href="/"><h1>READY FOR SEOUL</h1></a>

<h1>qna add</h1>

<form action="/qna/add" method="POST">
제목
<input type="text" name="title"><br>
<textarea name="text" rows="8" cols="80"></textarea>
<br>
<button type="submit">작성</button>
</form>
