<a href="/"><h1>READY FOR SEOUL</h1></a>

<h1>qna edit</h1>

<form action="/qna/<%= qna.id %>/edit" method="post">
<input type="text" name="title" value="<%= qna.title %>"><br>
<textarea name="text" rows="8" cols="80"><%= qna.text %></textarea>
<br>
<button type="submit" name="button">수정</button>
</form>
