<a href="/"><h1>READY FOR SEOUL</h1></a>
<h1>main</h1>

<p>레디포서울 메인화면</p>


<a href="/account/login">로그인</a><br>
<a href="/account/signup">회원가입</a>

<br><br>

<a href="/qna">Q&A</a><br>
<a href="/shop">SHOP</a>