<a href="/"><h1>READY FOR SEOUL</h1></a>
<h1>login</h1>

<form action="/account/login" method="POST">
Email <input type="text" name="email"><br>
Password <input type="password" name="password"><br>

<button type="submit">login</button>
</form>
