<a href="/"><h1>READY FOR SEOUL</h1></a>
<h1>signup</h1>

<form action="/account/signup" method="POST">
Email <input type="text" name="email"><br>
Username <input type="text" name="username"><br>
Password <input type="password" name="password"><br>
Address <input type="text" name="address"><br>
Birth date <input type="text" name="birth_date"><br>

<button type="submit">signup</button>
</form>
