
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>READY FOR SEOUL</title>

  <style>

  #header{

    text-align: center;

    background-color: #323C73;

    padding: 25px;

    /* 따라다니는거 */

    width:100%;
    height:100px;

  }

  #header a{



  color:white;

  }
  #footer{
      background-color:#323C73;
      text-align: center;
      color:white;
      padding-top:20px;
      padding-bottom:20px;
  }
  input.form-control{
    width:200px;
    display:inline-block;
  }
  </style>

  </head>



  <body>

  <div id="header">

  <a href="/">

  <h1>

  <b>READY FOR SEOUL</b>

  </h1>

  </a>


<br>
   <h3><font size="5em" face="210 나무고딕 EB">SIGN UP</font></h3>
   <hr align="center" style="border:solid 0.5px black; width: 100%">

<br>
<form action="/account/signup" method="POST">
  <center><div style="border-color: #323C73; border-width: medium; width: 380px; height: 480px; border-style: inset;"> <center>
    <br>
    <p><font size="4em" face="210 나무고딕 B"> Email : </font><input class="form-control" type="text" name="email"></p>
    <br>
    <p><font size="4em" face="210 나무고딕 B"> Username : </font><input class="form-control" type="text" name="username"></p>
    <br>
    <p><font size="4em" face="210 나무고딕 B"> Password: </font><input class="form-control" type="password" name="password"></p>
    <br>
    <p><font size="4em" face="210 나무고딕 B"> Address : </font><input class="form-control" type="text" name="address"></p>
    <br>
    <p><font size="4em" face="210 나무고딕 B"> Birth date : </font><input class="form-control" type="text" name="birth_date"></p>
    <br>
    <button type="submmit"> signup </button>
    <br>

  </div>
</center>
</form>
<br>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<br>
<br>

<div id="footer">
READY FOR SEOUL <br>
Web ver 1.0
</div>


 </body>
 </html>
