<a href="/"><h1>READY FOR SEOUL</h1></a>
<h1>shop detail</h1>
<h3><%= message %>th item </h3>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>READY FOR SEOUL</title>

  </head>

  <body>

  <div class="jumbotron-fluid" style="background: #323C73">
    <div class="container" style="background: #323C73">
     <h1><b><i><center>
      <font size="9em" color=white>READY FOR SEOUL</font>
      
     </center></i></b></h1>

    </div>
  </div>



<div class="row justify-content-md-center">
             <a herf= "/shop " class="shop" style="height: auto; width: 6%; border:1px solid black;"><center><b>SHOP</b>
             <a herf= "/qna" class="Q&A" style="height: auto; width: 6%; border:1px solid black; margin-left:100px"><center><b>QnA</b>
 </div>

 <h3 style="margin-left:25px"><b>SHOP</h3>
<hr align="center" style="border:solid 0.5px black; width: 99%">
<h4><font face="나눔스퀘어"><b>전 페이지</h4></font>


  <div class="container text-muted">
  <div class="row justify-content-md-center">
    <div style="height: 30%; width: 40%; border:1px solid; padding:100px; margin-bottom:25px;"><center><font color=pink>READY</font><br><font color=skyblue>FOR</font><br><font color=black>SOEUL<br>WELCOME<br>KIT</center></font></div>
    <div style="height:30%; width:40%; padding-top:2%; margin-left:100px; "><center><h3><font face="나눔스퀘어" style=color:black;>레디포서울웰컴키트</h3>
    <div class="col align-self-start" style="text-align:left; height:25%; width:30%; padding-top:5%; padding-bottom: 6%;  margin-left:100px; float:left;">판매가<br><br>배송방법<br>배송비<br>배송비결제</div>
      <div class="col align-self-end" style="text-align:left; height:25%; width:30%; padding-top:5%; padding-bottom: 6%;  float:left;">
    80,000원<br><br>택배<br>4,000원<br>주문 시 결제</div>

    <div class="col align-self-center">
      <div style="height:25%; width:40%; padding-top:6%; padding-bottom: 1%; margin-top:10px; "><center>옵션
    <div style="height:10%; width: 100%; border:1px solid black; ">▽추가주문시클릭</center></div></div></div>
  </div></font></div>

  <div class="container">
  <div class="row align-items-center" style="margin-bottom:100px;" >
   <img src="침구류.png" width="100" height="100">
   <img src="옷걸이.png" width="100" height="100">
   <img src="욕실슬리퍼.png" width="100" height="100">
   <img src="휴지통.png" width="100" height="100">
   <img src="수건.png" width="100" height="100">
   <img src="옷걸이.png" width="100" height="100">

 <div class="col align-self-center" style="height:30%; width:15%; padding-top:1%; padding-bottom: 1%; border:1px solid; color:white; background: #323C73; margin-left:75px; margin-right:25px"><center><font face="나눔스퀘어">구매하기</div></font>
  <div class="col align-self-center" style="height:30%; width:15%; padding-top:1%; padding-bottom: 1%; border:1px solid; color:white; background: #323C73; margin-left:0px; margin-right:100px"><center><font face="나눔스퀘어">장바구니</div></div></div>
</font>

  <div class="container">
    <div class="row justify-content-md-center" style="margin-bottom:100px;">
      <div class="col col-lg-6" style=" padding-top:1%; padding-bottom: 1%; border:1px solid; color:white; background: #323C73;"><center><font face="나눔스퀘어">상세보기▽</center></div>
    </font></div></div>


<div class="jumbotron-fruid" style="background: #323C73">
  <div class="container" style="background: #323C73">
   <h1><b><i><center>
    <font size="6em">
        <font color=pink>READY</font><font color=skyblue>FOR</font><font color=white>SEOUL</font>
        <br><font size="4em" color=white>Web ver 1.0</font>
    </font>
   </center></i></b></h1>

  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>





</body>
